<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduino_robot">
    
    <!-- properties -->
    <xacro:property name="PI" value="3.14159265"/>
    <xacro:property name="effort" value="30.0"/>
    <xacro:property name="velocity" value="10.0"/>

    <!-- design -->
    <link name="world"/>

    <!-- base body -->
    <link name="base_link">
        <visual>
            <origin xyz="-0.5 -0.5 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/basement.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="virtual_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

      <!-- base plate -->
    <link name="base_plate">
        <visual>
            <origin xyz="-0.39 -0.39 -0.56" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/base_plate.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="joint_1"  type="revolute">
        <parent link="base_link"/>
        <child link="base_plate"/>
        <origin xyz="0 0 0.307" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>   
    
        <!-- forward drive arm -->
    <link name="forward_drive_arm">
        <visual>
            <origin xyz="0.19 0.06 -0.08" rpy="0 -${PI/2} ${PI/2}"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/forward_drive_arm.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="joint_2"  type="revolute">
        <parent link="base_plate"/>
        <child link="forward_drive_arm"/>
        <origin xyz="-0.02 0 0.35" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>  

        <!-- base plate -->
    <link name="horizontal_arm">
        <visual>
            <origin rpy="${PI/2} 0 ${PI/2}" xyz="-0.03 -0.4 -0.06"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/horizontal_arm.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="joint_3"  type="revolute">
        <parent link="forward_drive_arm"/>
        <child link="horizontal_arm"/>
        <origin xyz="0 0 0.8" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-${PI/2}" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint> 

    <!-- claw_support -->
    <link name="claw_support">
        <visual>
            <origin rpy="0 0 ${PI/2}" xyz="0.14 -0.05 -0.15"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/claw_support.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="horizontal_arm_to_claw_support"  type="fixed">
        <parent link="horizontal_arm"/>
        <child link="claw_support"/>
        <origin xyz="0 0.82 0" rpy="0 0 0"/>
    </joint> 

    <!-- gripper_right -->
    <link name="gripper_right">
        <visual>
            <origin xyz="-0.1 0.5 -0.1" rpy="0 0 -${PI/2}"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/right_finger.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="joint_4"  type="revolute">
        <parent link="claw_support"/>
        <child link="gripper_right"/>
        <origin xyz="0.1 0.13 -0.1" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-${PI/2}" upper="0.0" effort="${effort}" velocity="${velocity}"/>
    </joint>  

    <!-- gripper_left -->
    <link name="gripper_left">
        <visual>
            <origin xyz="-0.04 0.5 -0.1" rpy="0 0 -${PI/2}"/>
            <geometry>
                <mesh filename="package://arduino_model/meshes/left_finger.STL" scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="joint_5"  type="revolute">
        <parent link="claw_support"/>
        <child link="gripper_left"/>
        <origin xyz="-0.08 0.13 -0.1" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <mimic joint="joint_4" multiplier="-1" />
        <limit lower="0.0" upper="${PI/2}" effort="${effort}" velocity="${velocity}"/>
    </joint>  
</robot>